* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
img {
  display: block;
  max-width: 100%;
}
header {
  text-align: center;
}
header h2 {
  padding: 10px 0;
  background-color: #333333;
  color: #fff;
}
ul {
  display: flex;
  justify-content: center;
  gap: 10px;
  background-color: #ccc;
  padding: 10px 0;
}
li {
  padding: 4px 6px;
  list-style: none;
}
a {
  text-decoration: none;
  color: #000;
}
.text-center {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 10px;
}
.text-center button {
  padding: 2px 4px;
  cursor: pointer;
}
.group-list {
  max-width: 80%;
  margin: 30px auto 0;
  display: flex;
  gap: 10px;
}
.group-item {
  text-align: center;
}
.group-item p {
  padding-top: 5px;
}
footer p {
  margin-top: 30px;
  padding: 10px;
  background-color: #333333;
  text-align: center;
  color: #fff;
}
